<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - JIT</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Chatbot</h1>
        <h2>JAYALAKSHMI INSTITUTE OF TECHNOLOGY - THOPPUR</h2>
        <div class="login-options">
            <a href="/staff">Staff Login</a>
            <a href="/student">Student Login</a>
        </div>
    </div>
</body>
</html>
